.idea
.gradle
build
out
target

benchmarks/build
benchmarks/out
benchmarks/lombok.config
benchmarks/target

tests/build
tests/out
tests/lombok.config
tests/target

universe/build
universe/out
universe/lombok.config
universe/target
