**/.DS_Store

.idea
.gradle
build
out
target

benchmarks/build
benchmarks/out
benchmarks/lombok.config
benchmarks/target
benchmarks/src/jmh/generated

tests/build
tests/out
tests/lombok.config
tests/target

universe/build
universe/out
universe/lombok.config
universe/target

/cloud/infrastructure/logstash-test/build
/cloud/infrastructure/logstash-test/out
/cloud/infrastructure/logstash-test/target
/cloud/infrastructure/logstash-test/src/main/generated/
